{% func BeginLayout(params *Params) %}

<!DOCTYPE html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">

{% if params.MetaDescription != nil %}
<meta name="description" content="{%s= *params.MetaDescription %}">
{% endif %}

{% if len(params.MetaRobots) > 0 %}
<meta name="robots" content="{%s= params.MetaRobots %}">
{% endif %}

<meta property="og:title" content="{%s params.Title %}">
{% if params.MetaDescription != nil %}
<meta property="og:description" content="{%s= *params.MetaDescription %}">
{% endif %}

<script>
window.__trip2g_settings = {
  is_dev_mode: {%s= params.DevMode %}
}
</script>

<title>{%s params.Title %}</title>

{% for _, url := range params.CSSURLs %}
<link href="{%s url %}" rel="stylesheet">
{% endfor %}

{% for _, injection := range params.HTMLInjections[injectionPlaceholderHead] %}
{%s= injection.Content %}
{% endfor %}

</head>

<div id="all-content">

<main class="main">

{% endfunc %}

{% func FinishLayout(params *Params) %}

</main>
</div>

{% for _, url := range params.JSURLs %}
<script src="{%s= url %}"></script>
{% endfor %}

{% for _, injection := range params.HTMLInjections[injectionPlaceholderBodyEnd] %}
{%s= injection.Content %}
{% endfor %}

{% endfunc %}

{% func BeginTGLayout(params *Params) %}

<!DOCTYPE html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">

{% for _, url := range params.CSSURLs %}
<link href="{%s url %}" rel="stylesheet">
{% endfor %}

<script src="https://telegram.org/js/telegram-web-app.js?57"></script>
</head>

{% endfunc %}

{% func FinishTGLayout(params *Params) %}
{% endfunc %}
