infra
.git
.gitignore
Dockerfile
node_modules
tmp
server
data.sqlite3
data.sqlite3-journal
data.sqlite3-shm
data.sqlite3-wal
*.fasthttp.gz
.vscode
*easyjson-bootstrap*
.aider*
.env
run.sh
examples.json
demo/.obsidian
