[Unit]
Description={{ service_name }} service
After=network.target

[Service]
ExecStart={{ bin_path }}
User={{ app_user }}
WorkingDirectory={{ data_dir }}
ReadOnlyPaths={{ app_dir }}
ReadWritePaths={{ data_dir }}
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
Restart=on-failure

[Install]
WantedBy=multi-user.target
