http:
  routers:
{% for svc in trip2g_services %}
    {{ svc.service_name }}:
      rule: "Host(`{{ svc.domain }}`)"
      entryPoints:
        - websecure
      service: {{ svc.service_name }}
      tls:
        certResolver: letsencrypt
{% endfor %}
    lottie-converter:
      rule: "Host(`{{ lottie_domain | default('lottie.trip2g.com') }}`)"
      entryPoints:
        - websecure
      service: lottie-converter
      tls:
        certResolver: letsencrypt

  services:
{% for svc in trip2g_services %}
    {{ svc.service_name }}:
      loadBalancer:
        servers:
          - url: "http://{{ svc.listen_addr }}"
{% endfor %}
    lottie-converter:
      loadBalancer:
        servers:
          - url: "http://localhost:{{ lottie_port | default('3000') }}"
