/* [mol_view_root] {
	background: transparent;
} */

[trip2g_user_space] {
	background: transparent;
	width: auto;
}

[trip2g_user_space_content] > [mol_view]:nth-child(2) {
	flex: 1;
}

[trip2g_user_space_dialog] {
	width: 80vw;
	height: 80vh;
	padding: 0;
	margin: auto;
	border: none;
	border-radius: 1rem;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
	background-color: var(--mol_theme_back);
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
}

[trip2g_user_space_dialog]::backdrop {
	background: rgba(0, 0, 0, 0.5);
	background: linear-gradient(
		45deg,
		rgba(146, 228, 111, 0.6) 0%,
		rgba(72, 108, 191, 0.6) 50%,
		rgba(177, 48, 169, 0.6) 100%
	);

	backdrop-filter: blur(2px);
}

[trip2g_user_space_dialog]:not([open]) {
	display: none; /* override mol styles */
}
