{{ block main_layout() }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ note.Title }}</title>
    <link rel="stylesheet" href="{{ asset("style.out.css") }}">
  </head>
  <body>
    <!-- ========== HEADER ========== -->
    <header class="inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full text-sm">
      <nav class="mt-4 relative max-w-[85rem] w-full bg-white border border-gray-200 rounded-[24px] mx-2 flex flex-wrap md:flex-nowrap items-center justify-between p-1 ps-4 md:py-0 sm:mx-auto">
        <div class="flex items-center">
          <!-- Logo -->
          <a class="flex-none rounded-md text-xl inline-block font-semibold focus:outline-hidden focus:opacity-80 text-gray-800" href="/" aria-label="trip2g">
            trip2g
          </a>
          <!-- End Logo -->

          <div class="ms-1 sm:ms-2">

          </div>
        </div>

        <div class="flex items-center gap-1 md:order-4 md:ms-4">
          <a class="w-full sm:w-auto whitespace-nowrap py-2 px-3 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-full border border-transparent bg-gray-800 text-white hover:bg-gray-900 focus:outline-hidden focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none" href="https://tally.so/r/mR75xJ">
            Заказать демо
          </a>

          <div class="md:hidden">
            <!-- Toggle Button -->
            <button type="button" class="hs-collapse-toggle flex justify-center items-center size-9.5 border border-gray-200 text-gray-500 rounded-full hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200" id="hs-navbar-header-floating-collapse" aria-expanded="false" aria-controls="hs-navbar-header-floating" aria-label="Toggle navigation" data-hs-collapse="#hs-navbar-header-floating">
              <svg class="hs-collapse-open:hidden shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
              <svg class="hs-collapse-open:block hidden shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
            </button>
            <!-- End Toggle Button -->
          </div>
        </div>

        <div id="hs-navbar-header-floating" class="hidden hs-collapse overflow-hidden transition-all duration-300 basis-full grow md:block" aria-labelledby="hs-navbar-header-floating-collapse">
          <div class="flex flex-col md:flex-row md:items-center md:justify-end gap-2 md:gap-3 mt-3 md:mt-0 py-2 md:py-0 md:ps-7">
            <a class="py-0.5 md:py-3 px-4 md:px-1 border-s-2 md:border-s-0 md:border-b-2 border-gray-800 font-medium text-gray-800 hover:text-gray-800 focus:outline-hidden " href="/" aria-current="page">Главная</a>
            <a class="py-0.5 md:py-3 px-4 md:px-1 border-s-2 md:border-s-0 md:border-b-2 border-transparent text-gray-500 hover:text-gray-800 focus:outline-hidden " href="/#pricing">Цены</a>
          </div>
        </div>
      </nav>
    </header>

    <!-- ========== END HEADER ========== -->

    {{ yield content }}

    <!-- ========== FOOTER ========== -->
  <footer class="mt-auto w-full max-w-[85rem] py-10 px-4 sm:px-6 lg:px-8 mx-auto">
    <!-- Grid -->
    <div class="grid grid-cols-1 md:grid-cols-4 gap-6 text-center md:text-left">
      <div>
        <h3 class="font-semibold text-gray-800 mb-3">Контакты</h3>
        <p class="text-gray-500">
          <a href="mailto:trip2g.software@gmail.com" class="hover:text-gray-800">trip2g.software@gmail.com</a>
        </p>
        <p class="text-gray-500 mt-3">
          <a href="/privacy" class="hover:text-gray-800 underline">Политика обработки<br />персональных данных</a>
        </p>
      </div>
      <div>
        <h3 class="font-semibold text-gray-800 mb-3">Телефон</h3>
        <p class="text-gray-500">
          <a href="tel:+79958857176" class="hover:text-gray-800">+7 (995) 885 71 76</a>
        </p>
        <p class="text-gray-500 mt-3">
          <a href="/offer" class="hover:text-gray-800 underline">Публичная оферта</a>
        </p>
      </div>
      <div>
        <h3 class="font-semibold text-gray-800 mb-3">Telegram</h3>
        <p class="text-gray-500">
          <a href="https://t.me/jrpcd" class="hover:text-gray-800">@jrpcd</a>
        </p>
      </div>
      <div>
        <h3 class="font-semibold text-gray-800 mb-3">Реквизиты</h3>
        <p class="text-gray-500 text-sm">
          ИП Юрченко Павел Степанович<br />
          ИНН: 920354627371<br />
          ОГРН/ОГРНИП: 320920400015811
        </p>
      </div>
    </div>
    <!-- End Grid -->
  </footer>
  </body>
</html>

{{ end }}
