{{ import "blocks" }}

<!-- {{ asset("style.out.css") }} -->

{{ yield main_layout() content }}

    <!-- Icon Blocks -->
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
      <!-- Grid -->
      <div class="grid md:grid-cols-2 gap-12">
        <div class="lg:w-3/4">
          <h2 class="text-3xl text-gray-800 font-bold lg:text-4xl">
            {{ note.Title }}
          </h2>
          <div class="prose mt-3">
            {{ note.PartialRenderer.Introduce().ContentHTML | unsafe }}
          </div>
          <p class="mt-5">
            <a class="inline-flex items-center gap-x-1 text-sm text-blue-600 decoration-2 hover:underline focus:outline-hidden focus:underline font-medium" href="https://tally.so/r/mR75xJ">
              Заказать демо
              <svg class="shrink-0 size-4 transition ease-in-out group-hover:translate-x-1 group-focus:translate-x-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
            </a>
          </p>
        </div>
        <!-- End Col -->

        <div class="space-y-6 lg:space-y-10">
          {{ range idx, b := note.PartialRenderer.HeadingBlocks(3) }}
          <!-- Feature Block -->
          <div class="flex gap-x-5 sm:gap-x-8">
            <div class="grow">
              <h3 class="text-base sm:text-lg font-semibold text-gray-800">
                {{ b.TitleHTML | unsafe }}
              </h3>
              <div class="prose">
                {{ b.ContentHTML | unsafe }}
              </div>
            </div>
          </div>
          <!-- End Feature Block -->
          {{ end }}
        </div>
        <!-- End Col -->
      </div>
      <!-- End Grid -->
    </div>
    <!-- End Icon Blocks -->

    <!-- Features -->
    <div id="pricing" class="overflow-hidden">
      <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <!-- Title -->
        <div class="mx-auto max-w-2xl mb-8 lg:mb-14 text-center">
          <h2 class="text-3xl lg:text-4xl text-gray-800 font-bold">
            Хостинг или автономность — решать вам.
          </h2>
        </div>
        <!-- End Title -->

        <div class="relative xl:w-10/12 xl:mx-auto">
          <!-- Grid -->
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-8">
            <div>
              <!-- Card -->
              <div class="p-4 relative z-10 bg-white border border-gray-200 rounded-xl md:p-10">
                <h3 class="text-xl font-bold text-gray-800">Хостинг</h3>
                <div class="text-sm text-gray-500">Мы решаем все технические вопросы.</div>

                <div class="mt-5">
                  <span class="text-6xl font-bold text-gray-800">1000</span>
                  <span class="ms-3 text-gray-500">рублей / в месяц</span>
                </div>

                <div class="mt-5 grid sm:grid-cols-2 gap-y-2 py-4 first:pt-0 last:pb-0 sm:gap-x-6 sm:gap-y-0">
                  <!-- List -->
                  <ul class="space-y-2 text-sm sm:text-base">
                    <li class="flex gap-x-3">
                      <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
                        <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      </span>
                      <span class="text-gray-800">
                        1GB места
                      </span>
                    </li>

                    <li class="flex gap-x-3">
                      <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
                        <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      </span>
                      <span class="text-gray-800">
                        Свой домен
                      </span>
                    </li>

                    <li class="flex gap-x-3">
                      <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
                        <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      </span>
                      <span class="text-gray-800">
                        Автообновления
                      </span>
                    </li>
                  </ul>
                  <!-- End List -->

                  <!-- List -->
                  <ul class="space-y-2 text-sm sm:text-base">
                    <li class="flex gap-x-3">
                      <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
                        <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      </span>
                      <span class="text-gray-800">
                        Техподдержка
                      </span>
                    </li>

                    <li class="flex gap-x-3">
                      <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
                        <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      </span>
                      <span class="text-gray-800">
                        Telegram, Patreon, Boosty
                      </span>
                    </li>
                  </ul>
                  <!-- End List -->
                </div>

                <div class="mt-5 grid grid-cols-2 gap-x-4 py-4 first:pt-0 last:pb-0">
                  <div>
                    <p class="text-sm text-gray-500">Отмена в любой момент.</p>
                    <p class="text-sm text-gray-500">Карта не требуется.</p>
                  </div>

                  <div class="flex justify-end">
                    <a href="https://tally.so/r/mR75xJ" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-gray-50">Начать</a>
                  </div>
                </div>
              </div>
              <!-- End Card -->
            </div>

            <div>
              <!-- Card -->
              <div class="p-5 relative z-10 bg-white border border-gray-200 rounded-xl md:p-10">
                <h3 class="text-xl font-bold text-gray-800">На вашем сервере</h3>
                <div class="text-sm text-gray-500">Полный контроль и автономность.</div>

                <div class="mt-5">
                  <span class="text-6xl font-bold text-gray-800">8000</span>
                  <span class="ms-3 text-gray-500">рублей / разово</span>
                </div>

                <div class="mt-5 grid sm:grid-cols-2 gap-y-2 py-4 first:pt-0 last:pb-0 sm:gap-x-6 sm:gap-y-0">
                  <!-- List -->
                  <ul class="space-y-2 text-sm sm:text-base">

                    <li class="flex gap-x-3">
                      <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
                        <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      </span>
                      <span class="text-gray-800">
                        Ваша инфраструктура
                      </span>
                    </li>

                    <li class="flex gap-x-3">
                      <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
                        <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      </span>
                      <span class="text-gray-800">
                        Ваши правила, ваши данные
                      </span>
                    </li>
                  </ul>
                  <!-- End List -->

                  <!-- List -->
                  <ul class="space-y-2 text-sm sm:text-base">
                    <li class="flex gap-x-3">
                      <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
                        <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      </span>
                      <span class="text-gray-800">
                        Обновления по запросу
                      </span>
                    </li>

                    <li class="flex gap-x-3">
                      <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
                        <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      </span>
                      <span class="text-gray-800">
                        Техподдержка
                      </span>
                    </li>

                    <li class="flex gap-x-3">
                      <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
                        <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      </span>
                      <span class="text-gray-800">
                        Установка включена
                      </span>
                    </li>
                  </ul>
                  <!-- End List -->
                </div>

                <div class="mt-5 grid grid-cols-2 gap-x-4 py-4 first:pt-0 last:pb-0">
                  <div>
                    <p class="text-sm text-gray-500">Один платеж.</p>
                    <p class="text-sm text-gray-500">Без подписок.</p>
                  </div>

                  <div class="flex justify-end">
                    <a href="https://tally.so/r/mR75xJ" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-gray-50">Начать</a>
                  </div>
                </div>
              </div>
              <!-- End Card -->
            </div>
          </div>
          <!-- End Grid -->

          <!-- SVG Element -->
          <div class="hidden md:block absolute top-0 end-0 translate-y-16 translate-x-16">
            <svg class="w-16 h-auto text-orange-500" width="121" height="135" viewBox="0 0 121 135" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5 16.4754C11.7688 27.4499 21.2452 57.3224 5 89.0164" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
              <path d="M33.6761 112.104C44.6984 98.1239 74.2618 57.6776 83.4821 5" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
              <path d="M50.5525 130C68.2064 127.495 110.731 117.541 116 78.0874" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
            </svg>
          </div>
          <!-- End SVG Element -->

          <!-- SVG Element -->
          <div class="hidden md:block absolute bottom-0 start-0 translate-y-16 -translate-x-16">
            <svg class="w-56 h-auto text-cyan-500" width="347" height="188" viewBox="0 0 347 188" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 82.4591C54.7956 92.8751 30.9771 162.782 68.2065 181.385C112.642 203.59 127.943 78.57 122.161 25.5053C120.504 2.2376 93.4028 -8.11128 89.7468 25.5053C85.8633 61.2125 130.186 199.678 180.982 146.248L214.898 107.02C224.322 95.4118 242.9 79.2851 258.6 107.02C274.299 134.754 299.315 125.589 309.861 117.539L343 93.4426" stroke="currentColor" stroke-width="7" stroke-linecap="round"/>
            </svg>
          </div>
          <!-- End SVG Element -->
        </div>

        <div class="mt-7 text-center">
          <p class="text-sm text-gray-600">
            Доработка функциональности под ваши задачи — по запросу.
          </p>
        </div>
      </div>
    </div>
    <!-- End Features -->

{{ end }}
