{{ import "blocks" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ note.Title }}</title>
    <link rel="stylesheet" href="{{ asset("style.out.css") }}">
  </head>
  <body>
    <!-- Icon Blocks -->
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
      <!-- Grid -->
      <div class="grid md:grid-cols-2 gap-12">
        <div class="lg:w-3/4">
          <h2 class="text-3xl text-gray-800 font-bold lg:text-4xl">
            {{ note.Title }}
          </h2>
          <div class="prose mt-3">
            {{ note.PartialRenderer.Introduce().ContentHTML | unsafe }}
          </div>
          <p class="mt-5">
            <a class="inline-flex items-center gap-x-1 text-sm text-blue-600 decoration-2 hover:underline focus:outline-hidden focus:underline font-medium" href="https://tally.so/r/mR75xJ">
              Заказать демо
              <svg class="shrink-0 size-4 transition ease-in-out group-hover:translate-x-1 group-focus:translate-x-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
            </a>
          </p>
        </div>
        <!-- End Col -->

        <div class="space-y-6 lg:space-y-10">
          {{ range idx, b := note.PartialRenderer.HeadingBlocks(3) }}
          <!-- Feature Block -->
          <div class="flex gap-x-5 sm:gap-x-8">
            <div class="grow">
              <h3 class="text-base sm:text-lg font-semibold text-gray-800">
                {{ b.TitleHTML | unsafe }}
              </h3>
              <div class="prose">
                {{ b.ContentHTML | unsafe }}
              </div>
            </div>
          </div>
          <!-- End Feature Block -->
          {{ end }}
        </div>
        <!-- End Col -->
      </div>
      <!-- End Grid -->
    </div>
    <!-- End Icon Blocks -->
  </body>
</html>
