@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@plugin "@tailwindcss/typography";
@plugin "daisyui";

a {
  @apply text-blue-500 underline;
}

.dark a {
  @apply text-blue-400;
}

.paywall::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='gray' viewBox='0 0 24 24'%3E%3Cpath d='M12 2a5 5 0 00-5 5v3H6a1 1 0 00-1 1v10a1 1 0 001 1h12a1 1 0 001-1V11a1 1 0 00-1-1h-1V7a5 5 0 00-5-5zm-3 5a3 3 0 016 0v3H9V7zm9 5v8H6v-8h12z'/%3E%3C/svg%3E");
  @apply text-gray-500 align-middle text-sm no-underline;
}

body:has(dialog[open]) {
  overflow: hidden;
}

html, body {
  @apply bg-white dark:bg-gray-800 text-gray-900 dark:text-white;
}

:root {
  --color-base-content: #000;
}

.dark .prose {
  @apply prose-invert;
}

/* Main layout */
.main {
  @apply container mx-auto px-4 py-2;
}

/* Note view */
.noteview {
  @apply my-16 relative;
}

.noteview__content {
  @apply flex-1;
}

.noteview__description {
  @apply mb-8;
}

.noteview__main-title {
  @apply text-2xl font-bold mb-16 md:text-3xl;
}

.noteview__header {
  @apply mb-8 flex;
}

.noteview__footer {
  @apply mt-8;
}

.noteview__header-space {
  @apply flex-1;
}

.noteview__header-container--sticky {
  @apply fixed top-0 left-0 right-0;
}

.noteview__markup {
  @apply mt-8;
}

/* Sidebar components */
.sidebar {
}

.sidebar__menus {
  @apply flex;
}

.sidebar__homepages {
  @apply flex;
}

.sidebar__homepage a {
  @apply no-underline text-xl font-bold;
}

.sidebar__block {
  @apply min-w-32 pr-8;
}

.sidebar__latest-banner {
  @apply mb-8;
}

.sidebar__block-title {
  @apply text-lg font-bold my-4;
}

.sidebar__block-content {
  @apply text-sm text-gray-500;
}

.sidebar__block-link {
}

.sidebar__menu ul {
  @apply relative;
}

.sidebar__menu li {
  @apply inline-block;
  margin: 1rem;
  margin-left: 0;
}

/* Paywall */
.paywall__title {
  @apply text-2xl font-bold;
}
